# Database connection URL for PostgreSQL
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.YOUR_SUPABASE_PROJECT.supabase.co:5432/postgres

# The name of the application
APP_NAME=AMS360

# The current running environment (development, staging, production)
APP_ENV=development

# Enables or disables debug mode (True/False)
DEBUG=True

# Allowed origins for CORS
FRONTEND_URL=http://localhost:3000

# Application Secret Key
SECRET_KEY=your-super-secret-key
